* {
    text-align: center;
}

body {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/static/jos_background.jpg");
    width: 50%;
    display: block;
}

input {
    font-size: 15px;
}

label {
    background: white;
    font-size: 15px;
}

div {
    align-content: center;
}
div.input {
    display: display-box;
}

h1 {
    background-color: #ffb724;
    font-family: cursive;
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 30%;
}

/*   *************** */
.topnav {
    overflow: hidden;
    align-content: flex-start;
    background-color: #ffb724;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #ffb724;
    color: white;
}

.topnav a:hover {
    background-color: #2196F3;
    color: white;
}

.topnav a.active:hover {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
    justify-content: flex-end;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

#login_signin {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    width: 100%;
}
